<?xml version="1.0"?>
<!--
/**
 * Scandiweb_Images
 *
 * @category    Scandiweb
 * @package     ScandiPWA_Images
 * @author      Raivis Dejus <info@scandiweb.com>
 * @copyright   Copyright (c) 2019 Scandiweb, Ltd (https://scandiweb.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ScandiPWA_Images" setup_version="1.0.0" />
</config>
